<html>

<head>
    <title>ALS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/template.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/career.css">

</head>

<body>
    <div>
        <%- include partials/navbar %>
    </div>
    <div class="careerImage"></div>

    <div class="container">
        <h3>Join ALS on their adventure</h3>
        <h5 class="quote">
            “&nbsp;&nbsp;The mediocre teacher tells. The good teacher explains. The superior teacher demonstrates. The
            great
            teacher inspires.&nbsp;&nbsp;”<br>
            ― William Arthur Ward</h5>
        <hr>

        <h5 class="jobOpeningsTitle">Current Job Openings [<%=jobs.length%>]</h5>
    </div>
    <div class="jobsList">

        <div class="container">
            <div class="row">
                <% jobs.forEach(function(job){ %>
                <div class="col-md-6">
                    <div class="jobContainer" jobId = "<%=job.ID%>">
                        <div class="">
                            <h5><%=job.JobTitle%></h5>
                            <h6 class="jobDate">End Date: <%=job.EndDate%></h6>
                        </div>
                    </div>
                </div>
                <%})%>
            </div>
        </div>
    </div>

    <%- include partials/footer %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>

$('.jobContainer').click(function(){
    window.location = "/jobs/" + $(this).attr("jobId");
});

    </script>
</body>

</html>