<html>

<head>
    <title>ALS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> -->

    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/career.css">

</head>

<body>
    <%- include partials/navbar %>

    <div class="container">
        <h3>Join ALS on their adventure</h3>
        <hr>
    </div>
    <div class="container viewJobContainer" jobId="<%=job.ID%>">
        <p><a href="/jobs" class="jobOpeningsLink">Job Openings > </a><span style="color:#be0000;font-weight: bold">
                <%=job.JobTitle%> </span></p>
        <h2 style="color:#990000;">
            <%=job.JobTitle%>
        </h2><br>
        <h4>Job Description</h4>
        <p>
            <%=job.Description%>
        </p>

        <br>
        <h4>Job Requirements</h4>
        <p>
            <%=job.Requirements%>
        </p>
        <br>
        <h4>Job Expiration Date</h4>
        <p>
            <%=job.EndDate%>
        </p>

        <br>
        <div class="applyNow">
            <button type="button" class="btn btn-danger btn-lg applyNowButton" data-toggle="modal" data-target="#exampleModal"
                data-title="<%=job.JobTitle%>" data-jobId="<%=job.ID%>">Apply Now</button>
        </div>
    </div>


    <%- include partials/modalForm %>
    <%- include partials/footer %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script>
        $('.applyNowButton').click(function () {
            $('#modalTitle').text($('.applyNowButton').data('title'));
        });
    </script>
</body>

</html>