<html>

<head>
    <title>ALS</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" type="text/css" href="../styles/navbar.css">
    <link rel="stylesheet" type="text/css" href="../styles/footer.css">
    <link rel="stylesheet" type="text/css" href="../styles/viewNews.css">

</head>

<body>
    <%- include partials/navbar %>

    <div class="container">
        <h3>Learn More About What's Happening On The Battle Grounds</h3>
        <hr>
        <p><a href="/news" class="newsOpeningsLink">News > </a><span style="color:#be0000;font-weight: bold"><%=news.Title%></span></p><p style="float:right"><%=news.Date%></p>
    </div>

    <div class="container">
        <h2 style="color:#990000;">
                <%=news.Title%>
        </h2><br>

        <div class="newsImage"><img class="img-fluid img-thumbnail" src="/resources/images/london.jpg" alt="newsImage"></div>

        <h4>News Description</h4>
        <p style="margin-bottom: 60px;">
                <%=news.Text%>
        </p>

    </div>

    <div>



    </div>

    <%- include partials/footer %>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
